@model ResponseModel<Gallery>

@{ Layout = null; }

<div class="col-md-12">
    <div class="card card-info">

        <div class="card-header">
            <h3 class="card-title">@(Model.Obj != null && Model.Obj.Id > 0 ? "Edit": "Create") Gallery</h3>
            <input type="text" class="form-control d-none" id="Id" name="Id" value="@(Model.Obj != null && Model.Obj.Id > 0 ? Model.Obj.Id.ToString() : "")">
        </div>

        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="form-group row">
                        <label for="Title" class="col-sm-2 col-form-label text-right">Title</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control form-control-sm" id="Title" name="Title" value="@Model.Obj.Title"
                                   data-required data-msg="The Gallery Name field is required." autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SubTitle" class="col-sm-2 col-form-label text-right">Sub Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="SubTitle" name="SubTitle" value="@Model.Obj.SubTitle" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Type" class="col-sm-2 col-form-label text-right">Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="Type" name="Type" value="@Model.Obj.Type" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Description" class="col-sm-2 col-form-label text-right">Description</label>
                        <div class="col-sm-8">
                            @*<input type="text" class="form-control form-control-sm" id="Description1" name="Description1" value="@Model.Obj.Description1" autocomplete="off">*@
                            <textarea class="form-control form-control-sm" id="Description" name="Description">@Model.Obj.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Heading1" class="col-sm-2 col-form-label text-right">Image</label>
                        <div class="col-sm-8">
                            <input type="file" name="file" id="ImagePath" multiple="multiple"><br /><br />
                            @if (Model.Data1 != null)
                            {
                                <table class="table table-bordered table-striped ">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Format</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Data1)
                                        {
                                            <tr>
                                                <td class="text-center"><img src="@Url.Content("~/Content"+item.Path)" alt="@item.Name" width="100px" height="100px" /></td>
                                                <td>@item.Name</td>
                                                <td>@item.Type</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
                                                            onclick="fnDelete_Confirm('@Url.Action("DeleteAttchmentConfirmed","Gallery", new {  area = "Admin" })?Id=@item.Id');">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="IsActive" class="col-sm-2 col-form-label text-right">Status</label>
                        <div class="col-sm-6">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success form-control border-0">
                                <input type="checkbox" class="custom-control-input"
                                       id="switch_Status" name="IsActive" @(Model.Obj == null || Model.Obj.IsActive == true || Model.Obj.Id == 0 ? "checked" : "")
                                       onchange="fnChange_Switch(this, 'label_Switch_Status')">
                                <label class="custom-control-label" for="switch_Status" id="label_Switch_Status" data-true="Active" data-false="Inactive">@((Model.Obj != null && Model.Obj.IsActive == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Active":"Inactive")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row no-gutters">
                <div class="col-sm-1">&nbsp;</div>
                <div class="col-sm-6 text-left">
                    <button type="submit" class="btn btn-success btnSubmit">Save</button>
                    <button type="button" class="btn btn-danger" onclick="fnCloseParialView('divformSave', '#table_Common');">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
